<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/resources/lib/vendor/bootstrap-3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="/resources/assets/main.css">
		<title>Aristotle</title>
	</head>
	<body ng-cloak>
		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="container" collapsible>
				<div class="navbar-form navbar-right" id="notification-center">
					<ari-notification-center></ari-notification-center>
				</div>
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" ng-click="collapsibleCtrl.toggle()">
						<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#/"><span class="glyphicon glyphicon-education"></span> Aristotle</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse" collapse="collapsibleCtrl.isCollapsed()">
					<ari-header-nav></ari-header-nav>
				</div>
			</div>
		</div>

		<div ng-view></div>

		<div id="footer">
			<div class="container">
				<hr>
				<p>Aristotle &copy; 2015 <a href="http://mmiller.me/" target="_blank">Matt Miller</a></p>
			</div>
		</div>

		<script src="/resources/lib/vendor/require-2.1.17/require.min.js" data-main="/resources/main"></script>
	</body>
</html>