::selection {
	background-color: #DEECF4;
}

body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.big-quote {
	padding-left: 45px;
	position: relative;
}

.big-quote:before {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	content: '“';
	font-size: 140px;
	line-height: 1;
}

cite:before {
	content: '— ';
}

@media (min-width: 768px) {
	.inner-border-2x2 > .row:first-child {
		border-bottom: 1px solid #EEEEEE;
	}

	.inner-border-2x2 > .row > .col-sm-6:first-child {
		border-right: 1px solid #EEEEEE;
	}
}

.lightgray-bg {
	background: #F5F5F5;
}

.white-bg {
	background: #FFFFFF;
}

.navbar-brand {
	font-family: serif;
	margin-top: -2px;
}

.well {
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

mark {
	background: #FFF9B2;
}

#footer {
	font-size: 90%;
	color: #666666;
}

.bordered-cell {
	border: 1px solid #CCCCCC;
	padding: 10px;
	margin-bottom: 10px;
}

.bordered-cell > h3 {
	margin-top: 0;
}

fieldset[disabled] input[type=checkbox],
fieldset[disabled] input[type=radio],
input[type=checkbox].disabled,
input[type=checkbox][disabled],
input[type=radio].disabled,
input[type=radio][disabled] {
	cursor: auto;
}